Example/Pods/Pods.xcodeproj/xcuserdata/severinetsdl.xcuserdatad/xcschemes
Example/SwiftAutomationCore.xcodeproj/xcuserdata/severinetsdl.xcuserdatad/xcschemes
Example/SwiftAutomationCore.xcworkspace/xcuserdata/severinetsdl.xcuserdatad
